@import "./styles/normalize";
@import "./styles/variables";
@import "./styles/mixins";
@import "./styles/about";
@import "./styles/menu-dots";
@import "./styles/menu";
@import "./styles/turn";

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;

  #turn {
    display: none;
  }

  @media (max-width: 767px) and (orientation: landscape) {
    width: 50vw;
    height: 50vh;
    #main {
      visibility: hidden;
    }
    #turn {
      display: flex;
    }
  }

  .cookie-banner {
    position: fixed;
    bottom: 40px;
    left: 10%;
    right: 10%;
    width: 80%;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(#ffffff, .5);
    border-radius: .5rem;

    &-text {
      font-family: $text-base-font;
      color: $base-dark-color;
      font-size: .75rem;
      max-width: 85%;

      a {
        color: inherit;
      }
    }

    .close {
      height: 20px;
      padding: 0 5px;
      background-color: $base-dark-color;
      border: none;
      color: white;
      border-radius: 2px;
      cursor: pointer;
    }

    &.hidden {
      display: none;
    }
  }

  @include main-scrollbar;

  main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    overflow: visible;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    -webkit-scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
    @include main-scrollbar;

    section {
      height: 100%;
      max-height: 100vh;

      & div:nth-child(2) div h3 {
        opacity: 0;
      }

      &.is-visible div:nth-child(2) div h3 {
        opacity: 1;

        &:nth-of-type(1) {
          transition: opacity 1.5s;
        }
        &:nth-of-type(1).project-description--title {
          transition: opacity 1.5s;
        }
        &:nth-of-type(2) {
          opacity: 1;
          transition: opacity 1.5s 3s;
        }
        &:nth-of-type(3) {
          transition: opacity 1.5s 6s;
        }
        &:nth-of-type(4) {
          transition: opacity 1.5s 9s;
        }
      }

      & div:nth-child(2) div {
        .first,
        .second,
        .third,
        .fourth,
        .fifth,
        .project-description--link,
        .section-paragraph--link {
          opacity: 0;
        }
      }

      &.is-visible div:nth-child(2) div {
        .first,
        .second,
        .third,
        .fourth,
        .fifth,
        .project-description--link,
        .section-paragraph--link {
          opacity: 1;
        }

        .first {
          transition: opacity 1.5s 1.5s;
        }
        .second {
          transition: opacity 1.5s 4.5s;
        }
        .third {
          transition: opacity 1.5s 7.5s;
        }
        .fourth {
          transition: opacity 1.5s 10.5s;
        }
        .fifth {
          transition: opacity 1.5s 13.5s;
        }
        .section-paragraph--link {
          transition: opacity 1.5s 3s;
        }

        .first.project-description--paragraph {
          transition: opacity 1.5s 1s;
        }
        .second.project-description--paragraph {
          transition: opacity 1.5s 2s;
        }
        .third.project-description--paragraph {
          transition: opacity 1.5s 3s;
        }
        .fourth.project-description--paragraph {
          transition: opacity 1.5s 4s;
        }
        .fifth.project-description--paragraph {
          transition: opacity 1.5s 5s;
        }
        .project-description--link {
          transition: opacity 1.5s 5s;
        }
      }
    }
  }

  .blog-link-wrapper {
    @include blog-link-wrapper;
  }
}
