@import "./styles/normalize";
@import "./styles/variables";
@import "./styles/about";
@import "./styles/contact";
@import "./styles/header";
@import "./styles/work";
@import "./styles/projects";
@import "./styles/technologies";
@import "./styles/slider-nav";

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  // overflow-y: scroll;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: $add-3;
    border-radius: 1px;
  }
  &::-webkit-scrollbar-thumb {
    background: $add-5;
    border-radius: 1px;
  }
}
