@import "./variables";
@import "./mixins";

.section-about {
  @include main-grid;
  @include section-background;

  &-wrapper {
    display: grid;
    grid-area: content;
    position: relative;
    justify-items: center;
    align-items: center;
    align-content: center;
    height: 100%;
    background-image: url("./images/logo/logo_white_015.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-width: 768px) and (orientation: portrait) {
      background-size: 80%;
    }

    .logo {
      width: 60px;
      height: 60px;
      background-image: url("./images/logo/transparent_new_logo_120_120.svg");
      background-repeat: no-repeat;
      background-origin: content-box;
      margin: 0.75rem auto;
    }

    .company-wrapper {
      display: grid;
      justify-items: center;
      align-items: center;
      height: 4rem;

      @media (min-width: 768px) {
        height: 6rem;
        width: 100%;
      }

      #animated-logo {
        width: 80%;
        max-width: 500px;
      }
    }

    .section-title {
      @include section-title;
      height: 4rem;
      line-height: 4rem;

      @media (min-width: 375px) {
        font-size: 1.25rem;
      }

      @media (min-width: 768px) {
        font-size: 1.75rem;
      }

      span {
        display: none;
      }
    }
  }
  .footer {
    @include footer;
  }
}
