@import './variables';
@import './mixins';

.section-contact {
  @include mobile-grid;
  background-color: $add-5;
  background: linear-gradient(225deg, $add-3 0%, $add-4 65%, $add-5 100%);

  &--title {
    display: grid;
    grid-area: header;
    position: relative;
    justify-items: center;
    align-items: center;
    height: 100%;

    .section-title {
      @include section-title-mobile;
    }
  }

  &--wrapper {
    display: grid;
    grid-area: content;
    position: relative;
    justify-items: center;
    align-items: center;
    height: 100%;
  }
}