@mixin section-title {
  margin: 0;
  font-family: $text-base-font;
  font-size: 1.15rem;
  font-weight: 900;
  color: $base-dark-color;
}

@mixin section-description-mobile {
  height: 100%;
  z-index: 1;
}

@mixin section-description-title {
  font-family: $text-base-font;
  font-size: 1.5rem;
  margin: 1rem 0 0.25rem;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.1rem;
}

@mixin project-description-title {
  font-family: $text-base-font;
  font-size: 1.5rem;
  margin: 0;
  font-weight: 800;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.1rem;
}

@mixin section-paragraph {
  font-family: $text-base-font;
  font-size: 1.1rem;
  margin: 1rem 0;
  font-weight: 500;
  text-align: center;
  color: $base-dark-color;
}

@mixin project-description-paragraph {
  font-family: $text-base-font;
  font-size: 1.1rem;
  margin: 0.75rem 1rem;
  font-weight: 700;
  text-align: center;
  color: $base-dark-color;
}

@mixin section-link {
  position: relative;
  display: block;
  font-family: $text-base-font;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  max-width: 220px;
  border: 2px solid #ffffff;
  border-radius: 2rem;
  padding: 0.75rem 2rem;
  margin: 1rem auto;
  overflow: hidden;
  background: transparent;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(#ffffff, 0.4), transparent);
    transform: translateX(-100%);
  }

  &:hover:before {
    transform: translateX(200%);
    transition: 0.75s;
  }
}

@mixin contact-paragraph {
  font-family: $text-base-font;
  font-size: 0.9rem;
  margin: 0;
  font-weight: 400;
  text-align: center;
  margin-top: 1.5rem;
  color: $base-dark-color;
}

@mixin contact-link {
  display: block;
  font-family: $text-base-font;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  margin: 0;

  &:hover {
    mask-image: linear-gradient(-75deg, rgba(#fff, 1) 30%, rgba($base-yellow, 0.5) 50%, rgba(#fff, 1) 70%);
    mask-size: 275%;
    animation: shine 1.25s;
  }

  @keyframes shine {
    from {
      -webkit-mask-position: 100%;
    }

    to {
      -webkit-mask-position: -50%;
    }
  }
}

@mixin section-wrapper-tablet {
  height: auto;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem 0 2rem;
}

@mixin section-wrapper-desktop {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@mixin main-grid {
  height: 100vh;
  position: relative;
  scroll-snap-align: start;
  display: grid;
  grid-template-rows: 60px calc(100vh - 120px) 60px;
  grid-template-columns: 1rem 1fr 1rem;
  grid-template-areas:
    ". header ."
    ". content ."
    ". footer .";
}

@mixin section-background {
  background-color: $dark-yellow;
  background: linear-gradient(225deg, $dark-yellow 0%, $base-yellow 50%, $light-yellow 100%);

  &:after {
    position: absolute;
    top: 60px;
    left: 35px;
    width: 25px;
    height: 50px;
    content: "";
    background-image: url("./images/svg/dots_12px_12px_2_2.svg");
    background-size: 50%;
    opacity: 0.75;

    @media (min-width: 768px) {
      top: 60px;
      left: 60px;
      width: 50px;
      height: 100px;
      background-size: 50%;
    }

    @media (min-width: 1024px) {
      top: 60px;
      left: 60px;
      width: 100px;
      height: 100px;
      background-size: 25%;
    }
  }
}

@mixin alt-section-background {
  background-color: $dark-yellow;
  background: linear-gradient(135deg, $light-yellow 0%, $base-yellow 50%, $dark-yellow 100%);

  &:after {
    position: absolute;
    bottom: 60px;
    right: 44px;
    width: 25px;
    height: 50px;
    content: "";
    background-image: url("./images/svg/dots_12px_12px_2_2.svg");
    background-size: 50%;
    opacity: 0.75;

    @media (min-width: 768px) {
      bottom: 60px;
      right: 60px;
      width: 50px;
      height: 100px;
      background-size: 50%;
    }

    @media (min-width: 1024px) {
      bottom: 60px;
      right: 60px;
      width: 100px;
      height: 100px;
      background-size: 25%;
    }
  }
}

@mixin menu-background {
  background-color: $dark-yellow;
  background: radial-gradient(circle at center right, $dark-yellow 0%, $base-yellow 60%, $light-yellow 100%);
}

@mixin main-scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: $light-yellow;
    border-radius: 1px;
  }
  &::-webkit-scrollbar-thumb {
    background: $base-yellow;
    border-radius: 1px;
  }
}

@mixin footer {
  display: grid;
  grid-area: footer;
  justify-items: center;
  align-items: center;
  height: 100%;

  .copyright {
    @include contact-paragraph;
    margin-top: 0;
    font-weight: 700;
    text-transform: uppercase;

    @media (min-width: 768px) {
      font-size: 1.2rem;
    }
  }
}

@mixin blog-wrapper {
  display: grid;
  grid-area: content;
  justify-items: center;
  align-items: center;
  height: 100%;

  @media (min-width: 768px) {
    padding: 1rem 2.5rem;
  }

  @media (min-width: 1024px) {
    padding: 1rem 3rem;
  }
}

@mixin article-summary {
  font-family: $text-base-font;
  padding: 0 0.5rem 1rem;

  &--date {
    color: $base-dark-color;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
    line-height: 1.15;
    text-align: right;
  }
  &--title {
    color: #ffffff;
    font-size: 1.35rem;
    font-weight: 800;
    margin: 1rem 0;
    max-width: 640px;

    @media (min-width: 768px) {
      font-size: 1.5rem;
    }

    a {
      color: #ffffff;
      text-decoration: none;
    }
  }
  &--subtitle {
    color: $base-dark-color;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0.5rem 0 0.5rem;

    @media (min-width: 768px) {
      font-size: 1.35rem;
    }
  }
  &--text {
    color: $base-dark-color;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    line-height: 1.25;
    font-weight: 400;

    &.right {
      text-align: right;

      a {
        @media (min-width: 768px) {
          font-size: 1.25rem;
          line-height: 1.35;
        }
      }
    }

    a {
      text-decoration: none;
      color: inherit;
      font-weight: 600;
    }
    .color-red {
      color: #a00000;
      font-weight: 500;
    }
    .color-yellow {
      color: $dark-yellow;
      font-weight: 500;
    }
    .color-green {
      color: #00a500;
      font-weight: 500;
    }

    @media (min-width: 768px) {
      font-size: 1.1rem;
      line-height: 1.35;
    }
  }
  &--link {
    @include contact-link;
    text-align: right;
    font-weight: 700;
  }
}

@mixin blog-link-wrapper {
  position: fixed;
  left: 8px;
  top: 8px;
  height: 60px;
  width: 80px;

  .blog-link {
    @include section-link;
    margin: 0;
    padding: 0.5rem 1rem;
  }

  @media (min-width: 768px) {
    left: 45px;
  }

  @media (min-width: 1024px) {
    left: 70px;
  }
}

@mixin calculator-label {
  font-family: $text-base-font;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: $base-dark-color;
}

@mixin calculator-box {
  width: 105px;
  height: 80px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: $dark-yellow;
  background: linear-gradient(45deg, $dark-yellow 0%, $base-yellow 20%, $light-yellow 100%);
}

@mixin shine-hover-effect {
  &:hover {
    mask-image: linear-gradient(-75deg, rgba(#fff, 1) 30%, rgba($base-yellow, 0.5) 50%, rgba(#fff, 1) 70%);
    mask-size: 275%;
    animation: shine 1.25s;
  }

  @keyframes shine {
    from {
      -webkit-mask-position: 100%;
    }

    to {
      -webkit-mask-position: -50%;
    }
  }
}
