@import "./variables";
@import "./mixins";

.section-projects {
  @include main-grid;
  @include alt-section-background;

  &:nth-of-type(even) {
    @include section-background;
  }

  &--title {
    display: grid;
    grid-area: header;
    position: relative;
    justify-items: center;
    align-items: center;
    height: 100%;

    .section-title {
      @include section-title;

      @media (min-width: 768px) {
        font-size: 1.75rem;
      }
    }
  }

  .project-wrapper {
    display: grid;
    grid-area: content;
    position: relative;
    justify-items: center;
    align-items: center;
    align-content: center;
    height: 100%;

    .project-description {
      @include section-description-mobile;

      &--title {
        @include project-description-title;
        @media (min-width: 768px) {
          font-size: 1.75rem;
        }
      }

      &--paragraph {
        @include project-description-paragraph;

        &:not(:first-of-type) {
          margin: 0.4rem 0;
          text-decoration: underline;
        }

        @media (min-width: 768px) {
          font-size: 1.25rem;
        }
      }

      &--link {
        @include section-link;
      }
    }
  }

  @media (min-width: 768px) {
    &-wrapper {
      @include section-wrapper-tablet;
    }
  }

  @media (min-width: 1280px) {
    &-wrapper {
      @include section-wrapper-desktop;
    }
  }
  .footer {
    @include footer;
  }
}
