@import "./variables";
@import "./mixins";

.section-technologies {
  @include mobile-grid;
  @include section-background;

  &--title {
    display: grid;
    grid-area: header;
    position: relative;
    justify-items: center;
    align-items: center;
    height: 100%;

    .section-title {
      @include section-title;
    }
  }

  &--wrapper {
    display: grid;
    grid-area: content;
    position: relative;
    justify-items: center;
    align-items: center;
    align-content: center;
    height: 100%;
    position: relative;

    .section-description {
      @include section-description-mobile;
      width: 100%;

      &--title {
        @include section-description-title;

        &:first-of-type {
          margin-top: 0;
        }
      }

      .section-paragraph {
        @include section-paragraph;
        font-weight: 800;
      }

      .technologies-icon {
        position: absolute;
        top: 10%;
        left: 20%;
        width: 12.5%;
        max-width: 80px;
        transform: translate(-50%, -50%);
        z-index: -1;

        &__image {
          height: 70%;
          filter: $technologies-icon-filter;
        }

        &:nth-of-type(2) {
          top: 15%;
          left: 75%;
        }

        &:nth-of-type(3) {
          top: 30%;
          left: 30%;
        }

        &:nth-of-type(4) {
          top: 40%;
          left: 80%;
        }

        &:nth-of-type(5) {
          top: 60%;
          left: 15%;
        }

        &:nth-of-type(6) {
          top: 65%;
          left: 75%;
        }

        &:nth-of-type(7) {
          top: 80%;
          left: 25%;
        }

        &:nth-of-type(8) {
          top: 85%;
          left: 70%;
        }
      }
    }
  }

  @media (min-width: 768px) {
    &-wrapper {
      @include section-wrapper-tablet;

      .section-title {
        @include section-title-tablet;
      }

      .section-description {
        .technologies-icon {
          margin: 1rem;
          width: 25%;
          max-height: 100px;

          &__description {
            margin-top: 0.75rem;
            font-size: 1rem;
          }
        }
      }
    }
  }

  @media (min-width: 1280px) {
    background-color: $add-4;
    width: 50%;
    height: calc(50vh + #{$mobile-header-height});
    min-height: 450px;
    padding-top: 0;

    // &::before {
    //   @include dots-bg;
    //   top: 66px;
    //   background: linear-gradient(90deg, $add-4 8px, transparent 1%) center,
    //   linear-gradient($add-4 8px, transparent 1%) center,
    //   #ffffff;
    //   background-size: 10px 10px;
    // }

    &-wrapper {
      @include section-wrapper-desktop;
      background-color: $add-4;

      .section-title {
        @include section-title-desktop;
      }

      .section-description {
        @include section-description-desktop;

        .section-paragraph {
          @include section-paragraph-desktop;
        }
      }
    }
  }
}
