@import "./variables";
@import "./mixins";

.section-technologies {
  @include main-grid;
  @include alt-section-background;

  &--title {
    display: grid;
    grid-area: header;
    position: relative;
    justify-items: center;
    align-items: center;
    height: 100%;

    .section-title {
      @include section-title;

      @media (min-width: 768px) {
        font-size: 1.75rem;
      }
    }
  }

  &--wrapper {
    display: grid;
    grid-area: content;
    position: relative;
    justify-items: center;
    align-items: center;
    align-content: center;
    height: 100%;
    position: relative;

    .section-description {
      @include section-description-mobile;
      width: 100%;

      &--title {
        @include section-description-title;

        @media (min-width: 768px) {
          font-size: 1.25rem;
        }

        &:first-of-type {
          margin-top: 0;
        }

        @media (min-width: 768px) {
          font-size: 1.75rem;
        }
      }

      .section-paragraph {
        @include section-paragraph;
        font-weight: 800;

        @media (min-width: 768px) {
          font-size: 1.25rem;
        }
      }

      .technologies-icon {
        position: absolute;
        top: 17.5%;
        left: 15%;
        width: 12.5%;
        max-width: 80px;
        transform: translate(-50%, -50%);
        z-index: -1;

        &__image {
          filter: $technologies-icon-filter;
        }

        &:nth-of-type(2) {
          top: 17.5%;
          left: 37.5%;
        }
        &:nth-of-type(3) {
          top: 17.5%;
          left: 60%;
        }
        &:nth-of-type(4) {
          top: 17.5%;
          left: 82.5%;
        }
        &:nth-of-type(5) {
          top: 80%;
          left: 15%;
        }
        &:nth-of-type(6) {
          top: 80%;
          left: 37.5%;
        }
        &:nth-of-type(7) {
          top: 80%;
          left: 60%;
        }
        &:nth-of-type(8) {
          top: 80%;
          left: 82.5%;
        }

        @media (min-width: 768px) {
          max-height: 80px;
          max-width: 60px;

          &__image {
            height: 70%;
          }
        }

        @media (min-width: 1024px) {
          top: 17.5%;
          left: 19%;
          max-height: 80px;
          max-width: 60px;

          &__image {
            height: 70%;
          }

          &:nth-of-type(2) {
            top: 17.5%;
            left: 35.5%;
          }
          &:nth-of-type(3) {
            left: initial;
            top: 17.5%;
            right: calc(35.5% - 60px);
          }
          &:nth-of-type(4) {
            left: initial;
            top: 17.5%;
            right: calc(19% - 60px);
          }
          &:nth-of-type(5) {
            top: 80%;
            left: 19%;
          }
          &:nth-of-type(6) {
            top: 80%;
            left: 35.5%;
          }
          &:nth-of-type(7) {
            top: 80%;
            left: initial;
            right: calc(35.5% - 60px);
          }
          &:nth-of-type(8) {
            top: 80%;
            left: initial;
            right: calc(19% - 60px);
          }
        }
      }
    }
  }
  .footer {
    @include footer;
  }
}
