$text-base-font: "Raleway", sans-serif;

$base-dark-color: #101820;
$base-yellow-color: #fee715;
$base-border-color: #fbfcd4;
$base-light-font-color: #fbfcd4;
$base-dark-font-color: #151515;

// additional colors
$add-1: #151515;
$add-2: #0a0a0a;
$add-3: #fbfcd4;
$add-4: #ffdd03;
$add-5: #fbc403;

$mobile-header-height: 60px;

$technologies-icon-filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(11deg) brightness(102%) contrast(100%);
$technologies-icon-description-color: #ffffff;
