@import "./variables";
@import "./mixins";

.section-work {
  @include main-grid;
  @include alt-section-background;

  &:nth-of-type(even) {
    @include section-background;
  }

  &--title {
    display: grid;
    grid-area: header;
    position: relative;
    justify-items: center;
    align-items: center;
    height: 100%;

    .section-title {
      @include section-title;

      @media (min-width: 768px) {
        font-size: 1.75rem;
      }
    }
  }

  &-wrapper {
    display: grid;
    grid-area: content;
    position: relative;
    justify-items: center;
    align-items: center;
    align-content: center;
    height: 100%;

    &.work::after,
    &.cooperation::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-width: 100vw;
      background-image: url("./images/svg/tools_chaos_500_400.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      opacity: 0.7;

      @media (min-width: 768px) and (orientation: landscape) {
        background-size: contain;
      }
    }

    .section-description {
      @include section-description-mobile;

      &--title {
        @include section-description-title;

        &:first-of-type {
          margin-top: 0;
        }

        @media (min-width: 768px) {
          font-size: 1.75rem;
        }
      }

      .section-paragraph {
        @include section-paragraph;
        font-weight: 800;
        margin-top: 0.5rem;

        @media (min-width: 768px) {
          font-size: 1.25rem;
        }
      }
    }
  }
  .footer {
    @include footer;
  }
}
