@import "./variables";
@import "./mixins";

.section-work {
  @include mobile-grid;
  @include section-background;

  &--title {
    display: grid;
    grid-area: header;
    position: relative;
    justify-items: center;
    align-items: center;
    height: 100%;

    .section-title {
      @include section-title;
    }
  }

  &-wrapper {
    display: grid;
    grid-area: content;
    position: relative;
    justify-items: center;
    align-items: center;
    align-content: center;
    height: 100%;

    &.work::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-width: 100vw;
      background-image: url("./images/svg/tools_chaos_500_400.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      opacity: .7;
    }

    &.cooperation::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("./images/svg/puzzle_100_100.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 80%;
      opacity: .4;
      transform: rotate(45deg);
    }


    .section-description {
      @include section-description-mobile;

      &--title {
        @include section-description-title;

        &:first-of-type {
          margin-top: 0;
        }
      }

      .section-paragraph {
        @include section-paragraph;
        font-weight: 800;
        margin-top: .5rem;
      }
    }
  }
}
